<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techavtranew.planes"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Mobile Wallet Adapter intent discovery. Seeker looks for any
         installed wallet (Seed Vault, Phantom, Solflare, etc.) that
         handles these actions and routes our intent to one of them. -->
    <queries>
        <intent>
            <action android:name="solana-wallet:///v1/authorize" />
        </intent>
        <intent>
            <action android:name="solana-wallet:///v1/sign_transactions" />
        </intent>
        <intent>
            <action android:name="solana-wallet:///v1/sign_and_send_transactions" />
        </intent>
        <intent>
            <action android:name="solana-wallet:///v1/sign_messages" />
        </intent>
        <package android:name="com.solanamobile.seedvault" />
        <package android:name="app.phantom" />
        <package android:name="com.solflare.mobile" />
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/UnityThemeSelector"
        android:isGame="true">

        <activity
            android:name="com.unity3d.player.UnityPlayerActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>
    </application>
</manifest>
